<div class="d-flex justify-content-center">
  <h3>Your Order</h3>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">Index</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Price</th>
      <th class="text-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Red Shirt</td>
      <td>250</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Blue Shirt</td>
      <td>250</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Green Shirt</td>
      <td>250</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>White Shirt</td>
      <td>250</td>
      <td></td>
    </tr>
  </tbody>
</table>